html {
  background: white;
  height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  background: #00c967;
  text-align: center;
  color: white;
  border-bottom: 5px solid #282d3c;
  font-weight: bold;
}
.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cartImage {
  width: 5%;
  height: 5%;
  padding: 0;
  border: 0;
}
